/* 
Body:
Default text is Times New Roman font with a sans-serif as a fallback option**
The background color is black (use hexadecimal values)
The foreground is white (use hexadecimal values) */
body{
	margin:1%;
	padding:1%;
	font-size:150%;
	font-family: 'Times New Roman', sans-serif;
	background-color: #000000;
	color: #FFFFFF;
}

/* Header 1 is 64px, centered, and has padding of 10px */
h1{
	font-size: 64px; 
	text-align: center;
	padding: 10px;
}

/* Header 2 is 32px, with grey (#808080) drop shadow (use text-shadow property) that is offset 4px horizontally, 4px vertically, and 2px blur */
h2{
	font-size: 32px;
	text-shadow: 4px 4px 2px #808080;
}

/* Paragraphs use 24px font and have 15px padding on the top only */
p{
	font-size: 24px;
	padding-top: 15px;
}

/* All images are on their own line
All images are centered 
All images are 550px wide  (the image should not be warped or stretched)
 */
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 550px;
}

div{
	min-height: 150px;
	padding: 25px;
}
/* Red div:
Background color is hexadecimal value for red
Text is aligned on the right side 
 */
div#red{
	background-color: #FF0000;
	text-align: right;
}
/* Blue div
a.     Background color is hex value for blue
b.     Text is aligned on the left side */
div#blue{
	background-color: #0000FF;
	text-align: left;
}
/* Yellow div
a.     Background color is hexadecimal value for yellow 
b.     Text is aligned on the right side
c.     Header 2 and paragraph text is black
d.     Header 2 uses the same text-shadow  with the same parameters as above but #c7e2c7 as the color. */
#yellow h2{
	color: #000000;
	text-shadow: 4px 4px 2px #c7e2c7;
}
#yellow p{
	color: #000000;
}
div#yellow{
	background-color: #FFFF00;
	text-align: right;
}

/* Green div
a.     Background color is hexadecimal value for green  (Use #008000)
b.     Text is aligned on the left side */
div#green{
	background-color: #008000;
	text-align: left;
}
/* Paragraphs within the footer have text that is centered with 10px padding on the bottom and right only. (No padding on the left or top.) */
footer{
	text-align: center;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
}



